
@import "../../themes/base/styles/scssVars";
@import "../../themes/base/styles/mixins.scss";
@import "../../themes/base/styles/scrollbar.scss";

#thumbbar {
  @include panel(99);
  bottom: 15px;
  left: 50%;
  padding: 0 5px;
  max-width: 90vw;
  transform: translate(-50%, 0);

  // --opacity: 0;
  // --top: 20px;

  // transition: all ease 1000ms;
  // opacity: var(--opacity);
  // transform: translate(-50%, var(--top));

  // &:hover {
  //   --opacity: 1;
  //   --top: 0px;
  //   transition: all ease 500ms;
  // }
}


.thumbnail-list {
  list-style: none;
  padding-left: 0;
  margin: 0 -1px;
  display: flex;
  max-width: 100vw;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 5px 0;
  user-select: none;
  content-visibility: auto;
  contain-intrinsic-size: 100vw;

  li {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    padding: 5px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: getVar(borderRadius);
    cursor: pointer;
    transition: all 200ms ease;

    .preview {
      height: var(--thumbnailSize);
      width: var(--thumbnailSize);
      border-radius: getVar(borderRadius);
      overflow: hidden;
      transition: all 200ms ease;

      img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
      }
    }

    .info {
      color: getVar(colorText);
      text-align: center;
      font-size: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-top: 2px;

      display: none;
    }

    &:focus-visible,
    &:hover {
      background-color: RGBA(getVar(colorBg) / 0.5);
      box-shadow: inset 0 0 0 1px RGBA(getVar(colorBorder));

      .preview {
        transform: scale(0.95) translateY(-3px);
        box-shadow: 0 5px 20px -10px RGBA(getVar(colorText) / 0.5);
      }
    }

    &:focus-visible {
      outline: none;
      box-shadow: var(--focusShadow);
    }

    &:active {
      transition: all 80ms ease;
      background-color: RGBA(getVar(colorBg) / 0.7);

      .preview {
        transition: all 80ms ease;
        transform: scale(0.95) translateY(0);
      }
    }

    &.active {
      background-color: RGBA(getVar(colorBg) / 0.7);
      box-shadow: inset 0 0 0 2px RGBA(getVar(colorAccent));

      &:focus-visible {
        box-shadow: var(--focusShadow), inset 0 0 0 2px RGBA(getVar(colorAccent));
      }
    }
  }
}
