
#board {
  margin: auto;
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;

  // background-image: conic-gradient(#0000 25%, #fff1 0 50%, #0000 0 75%, #fff1 0);
  background-size: 20px 20px;

  @include removeFocusRing();
}

#wrapper {
  // opacity: 0;
  width: 100%;
  height: 100%;
}

#boardContent {
  display: inline-flex;
  /* will-change: transform; */
  /* background-color: bisque; */
  /* align-items: center;
  justify-content: center; */
}

#boardContent * {
  -webkit-user-drag: none;
  user-select: none;
}
