
@import "../../themes/base/styles/scssVars";
@import "../../themes/base/styles/mixins.scss";
@import "../../themes/base/styles/scrollbar.scss";

:host {
  --maxSize: 90;
  --itemSize: calc(var(--toolbarSize) * 1px);
  --itemPadding: calc(var(--itemSize) / 5);
  --containerPadding: calc(var(--itemSize) / 8);

  position: fixed;
  z-index: 100;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  max-width: calc(var(--maxSize) * 1vw);
  -webkit-user-drag: none;

  * {
    -webkit-user-drag: none;
  }
}

.toolbar-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  appearance: none;
  background-color: transparent;
  user-select: none;
  border: 0;
  border-radius: getVar(borderRadius);
  width: var(--itemSize);
  height: var(--itemSize);
  padding: var(--itemPadding);
  margin: 0 calc(var(--itemSize) / 14);
  transition: all 400ms ease;

  .item-content {
    border-radius: 1px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;

      // hide the image that is not loaded
      &:not([src]) {
        display: none;
      }
    }
  }

  .item-label {
    color: getVar(colorText);
    text-align: center;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2px;

    display: var(--infoDisplay, none);
  }

  // button
  &.item-button {
    &:hover {
      background-color: RGBA(getVar(colorAccent) / 0.2);
      box-shadow: inset 0 0 0 1px RGBA(getVar(colorAccent) / 0.4);
    }

    &:active {
      transition: all 200ms ease;
      background-color: RGBA(getVar(colorAccent) / 0.5);
    }

    &.is--selected {
      background-color: RGBA(getVar(colorBg) / 0.7);
      box-shadow: inset 0 0 0 2px RGBA(getVar(colorAccent));
  
      &:focus-visible {
        box-shadow: var(--focusShadow), inset 0 0 0 2px RGBA(getVar(colorAccent));
      }
    }
  }

  // space
  &.item-space {
    width: calc(var(--itemSize) / 2);
    margin: 0;
    padding: 0;
    pointer-events: none;
  }

  // divider
  &.item-divider {
    width: calc(var(--itemSize) / 2);
    margin: 0;
    padding: 0;
    pointer-events: none;

    &::before {
      content: "";
      display: inline-block;
      height: calc(var(--itemSize) - (var(--itemPadding) * 2));
      width: 0;
      border-left: 0.5px solid RGBA(getVar(colorBorder));
      border-radius: 5px;
    }
  }
}

.toolbar-container {
  @include panel(0);
  position: static;

  display: flex;
  padding: var(--containerPadding);
  margin: 0 -1px;

  .group {
    display: flex;
    flex-wrap: nowrap;

    &.group-list {
      flex: 0 1 auto;
      overflow: hidden;
    }

    &.group-overflow {
      flex: 1 0 auto;
    }
  }

  .toolbar-item {
    // item is moved to overflow dropdown
    &.is--overflow {
      visibility: hidden;
      opacity: 0;
    }
  }
}


.menu-overflow {
  @include panel(-1);

  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  margin-top: var(--containerPadding);
  padding: var(--containerPadding);
  transition: all 400ms ease;

  &:not(:empty) {
    &.show {
      visibility: visible;
      opacity: 1;
      z-index: 99999;
    }
  }
}
