
:root {
  color-scheme: dark light;

  // theme colors (dark is default)
  --colorBg: 21 27 31;
  --colorText: 255 255 255;

  --colorMenu: 255 255 255;
  --colorMenuBackground: 37 46 53;
  --colorMenuHover: RGBA(var(--colorMenu) / 0.13);
  --colorMenuActive: RGBA(var(--colorMenu) / 0.23);
  --colorMenuSelected: RGBA(var(--colorMenu) / 0.45);
  --colorMenuSelectedHover: RGBA(var(--colorMenu) / 0.3);
  --colorMenuSelectedActive: RGBA(var(--colorMenu) / 0.5);


  --colorAccent: 0 99 177;
  --colorBorder: var(--colorText) / 0.1;

  --shadow: 0 1px 10px -5px RGBA(0 0 0 / 50%);
  --focusShadow: inset 0 0 0 2px RGBA(var(--colorAccent) / 50%);
  --borderRadius: 10px;
  --fluentBlur: 20px;
  --fluentOpacity: 0.8;

  --scrollBarSize: 7px;
  --thumbnailSize: 50;
  --toolbarSize: 40;

  --fontBase: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  --fontCode: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --colorBg: 255 255 255;
    --colorText: 0 0 0;

    --colorMenu: 0 0 0;
    --colorMenuBackground: 242 242 242;
    --colorMenuHover: RGBA(var(--colorMenu) / 0.15);
    --colorMenuActive: RGBA(var(--colorMenu) / 0.25);
    --colorMenuSelected: RGBA(var(--colorMenu) / 0.4);
    --colorMenuSelectedHover: RGBA(var(--colorMenu) / 0.3);
    --colorMenuSelectedActive: RGBA(var(--colorMenu) / 0.45);
  }
}
