
$vars: (
  fontBase: "system-ui, -apple-system, BlinkMacSystemFont, Segoe UI",
  fontCode: "ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace",

  shadow: 0 1px 10px -5px RGBA(var(--colorText) / 50%),
  focusShadow: inset 0 0 0 2px RGBA(var(--colorAccent) / 50%),
  borderRadius: 5px,
  fluentBlur: 20px,
  fluentOpacity: 0.6,

  colorAccent: 35 121 139,
  colorBg: 255 255 255,
  colorText: 0 0 0,
  colorBorder: var(--colorBg) / 0.3,

  scrollBarSize: 5px,
  thumbnailSize: 50,
);


// Function to get CSS variable
@function getVar($key) {
  @return var(--#{$key});
}

