
@mixin fluentBackground($color: getVar(colorBg)) {
  background-color: RGBA($color / getVar(fluentOpacity));
  backdrop-filter: blur(getVar(fluentBlur));
}


@mixin panel($zIndex) {
  @include fluentBackground();
  position: fixed;
  z-index: $zIndex;

  padding: 10px;
  border: 1px solid RGBA(getVar(colorBorder));
  border-radius: getVar(borderRadius);
  box-shadow: getVar(shadow);

  color: RGBA(getVar(colorText));
}

@mixin removeFocusRing() {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
