
@mixin fluentBackground($color: var(--colorBg)) {
  background-color: RGBA($color / var(--fluentOpacity));
  backdrop-filter: blur(var(--fluentBlur-px));
}


@mixin panel($zIndex, $color: var(--colorBg)) {
  @include fluentBackground($color);
  position: fixed;
  z-index: $zIndex;

  box-shadow: var(--shadow);
  color: RGBA(var(--colorText));
}

@mixin removeFocusRing() {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

@mixin setFocusStyle() {
  &:focus-visible {
    animation: highlightFocus 1000ms cubic-bezier(0.25, 0.1, 1, -1.07);
  }
}


@mixin setItemButtonStyle() {
  transition: all 400ms ease;

  &> * {
    transition: all 400ms ease;
  }

  &.has--indicator {
    &::after {
      content: "";
      display: block;
      width: 30%;
      height: 8%;
      opacity: 0;
      pointer-events: none;
      background-color: RGBA(var(--colorAccent));
      border-radius: 20%;
      transition: all 400ms ease;
  
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &:hover {
    background-color: var(--colorMenuHover);
  }

  &:active {
    transition: background-color 200ms ease;
    background-color: var(--colorMenuActive);

    &> * {
      transition: transform 200ms ease;
      transform: translateY(1px);
    }
  }

  &.is--selected {
    background-color: var(--colorMenuSelected);

    &.has--indicator::after {
      opacity: 1;
    }

    &:hover {
      background-color: var(--colorMenuSelectedHover);
    }

    &:active {
      background-color: var(--colorMenuSelectedActive);
    }
  }
}
