
@mixin fluentBackground($color: var(--colorBg)) {
  background-color: RGBA($color / var(--fluentOpacity));
  backdrop-filter: blur(var(--fluentBlur));
}


@mixin panel($zIndex) {
  @include fluentBackground();
  position: fixed;
  z-index: $zIndex;

  border: 1px solid RGBA(var(--colorBorder));
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);

  color: RGBA(var(--colorText));
}

@mixin removeFocusRing() {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

@mixin setFocusStyle() {
  &:focus-visible {
    animation: highlightFocus 1000ms cubic-bezier(0.25, 0.1, 1, -1.07);
  }
}
