
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: getVar(fontBase);

  // remove eslastic scrolling
  overflow: hidden;
}

body {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


pre,
code,
kbd,
samp {
  font-family: getVar(fontCode);
  font-size: 1em;
}

.__web-inspector-hide-shortcut__,
.__web-inspector-hide-shortcut__ *,
.__web-inspector-hidebefore-shortcut__::before,
.__web-inspector-hideafter-shortcut__::after {
  display: none !important;
}
