

::-webkit-scrollbar {
  width: var(--scrollBarSize-px);
  height: var(--scrollBarSize-px);
  background: transparent;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: RGBA(var(--colorText) / 0.3);
  border-radius: var(--scrollBarSize-px);
  border-color: transparent;
  border-style: solid;
  border-width: calc((var(--scrollBarSize-px) / 2.5) - 1px);
  background-clip: padding-box;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  border-width: 0;
  background-color: RGBA(var(--colorText) / 0.35);
}
::-webkit-scrollbar-thumb:active {
  border-width: 0;
  background-color: RGBA(var(--colorText) / 0.5);
}
