
@import "../../themes/base/styles/mixins.scss";
@import "../../themes/base/styles/scrollbar.scss";

:host {
  --size: calc(var(--thumbnailSize) * 1px);
  --padding: calc(var(--size) / 10);
  --scrollBarSize: calc(var(--size) / 7);
  --itemBorderRadius: calc(var(--borderRadius) / 2);

  @include panel(99, #{var(--colorMenuBackground)});
  border-top: 1px solid RGBA(var(--colorBorder));
  bottom: 0;
  left: 50%;
  padding: 0 var(--padding);
  max-width: 100vw;
  width: 100vw;
  height: auto;

  transform: translate(-50%, 0);
}


.gallery-scroller {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.gallery-item {
  position: absolute;
  user-select: none;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  padding: var(--padding);
  border-radius: var(--itemBorderRadius);
  width: var(--size);
  height: var(--size);
  transition: all 400ms ease;

  .preview {
    border-radius: calc(var(--itemBorderRadius) / 2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: RGBA(var(--colorText) / 0.05);
    transition: all 400ms ease;

    svg {
      display: none;
      width: 50%;
      height: 100%;
      fill: RGB(var(--colorText));
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      -webkit-user-drag: none;

      // hide the image that is not loaded
      &:not([src]) {
        display: none;
      }
    }
  }

  .info {
    color: var(--colorText);
    text-align: center;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2px;

    display: var(--infoDisplay, none);
  }

  &:hover {
    background-color: var(--colorMenuHover) ;
  }

  &:active {
    transition: all 200ms ease;
    background-color: var(--colorMenuActive) ;
  }

  &.is--selected {
    background-color: var(--colorMenuSelected);

    .preview {
      background-color: transparent;
    }

    &:hover {
      background-color: var(--colorMenuSelectedHover);
    }

    &:active {
      background-color: var(--colorMenuSelectedActive);
    }
  }

  &.is--invalid {
    .preview {
      svg {
        display: block;
      }

      // hide the broken image
      img {
        display: none;
      }
    }
  }
}

.gallery-container {
  position: relative;
  padding-top: var(--scrollBarSize);
  padding-bottom: var(--padding);
  width: 100%;
  height: calc(var(--size) + (var(--padding) * 2) + (var(--scrollBarSize) / 2));
  overscroll-behavior: contain;
  overflow: auto;
}
