@import "../../themes/base/styles/scssVars";
@import "../../themes/base/styles/mixins.scss";
@import "../../themes/base/styles/scrollbar.scss";

:host {
  position: absolute;
  width: 100vw;
  height: auto;

  --hostOpacity: 0;
  --hostTransitionProp: opacity;
  --hostTransitionTime: 1000ms;

  @include panel(99);
  bottom: 15px;
  left: 50%;
  padding: 0 5px;
  max-width: 90vw;

  transform: translate(-50%, 0);
  transition: var(--hostTransitionProp) ease var(--hostTransitionTime);
  // opacity: var(--hostOpacity);
}

.virtual-scroller {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.virtual-item {
  position: absolute;

  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  padding: 5px;
  border-radius: getVar(borderRadius);
  cursor: pointer;
  transition: all 200ms ease;

  background-color: rgba(#000, 0.1);
}

.virtual-container {
  position: relative;
  padding: 5px 0;
  width: 100%;
  height: calc(var(--thumbnailSize) * 1px + 12px);
  overflow-y: auto;

  &.direction--horizontal {
    .virtual-item {
      width: calc(var(--thumbnailSize) * 1px);
      height: calc(var(--thumbnailSize) * 1px);
    }
  }
}


