<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viewer</title>

  <link rel="stylesheet" href="./dist/base/base.main.css">
  <link rel="stylesheet" href="./dist/viewer/viewer.main.css">

  <script src="./dist/base/base.bundle.js"></script>
</head>
<body>
  <div id="board">
    <div id="wrapper">
      <div id="boardContent">
        <div>
          <!-- <img src="https://www.kirupa.com/images/kirupa_sig.png"> -->
          <!-- <img id="img" src="https://c.wallhere.com/photos/49/41/anime_anime_boys_anime_men_Black_Clover_Asta_Yuno_Noelle_Silva_Yami_Sukehiro-1966873.jpg!d" /> -->
          <img src="file:///C:/Users/d2pha/Desktop/black_clover.jpg" />
          <!-- <img src="file:///C:/Users/d2pha/Desktop/12000.jpg" /> -->
          <!-- <img src="https://cdn.shopify.com/s/files/1/0496/1029/files/Freesample.svg" /> -->
          <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/016vallesmarineris_reduced0.5.jpg" /> -->
          <!-- <img src="https://vecta.io/blog/comparing-svg-and-png-file-sizes/penrose-triangle.d6e2a09434.svg" /> -->
          <!-- <img src="https://cdn.shopify.com/s/files/1/0496/1029/files/Freesample.svg" /> -->
        </div>

      </div>
    </div>
  </div>

  <div class="info">
    <div>Zoom: <span id="elZoom"></span></div>
    <div>Scale ratio: <span id="elScaleRatio"></span></div>
    <div>X: <span id="elX"></span></div>
    <div>Y: <span id="elY"></span></div>
    <div>Width: <span id="elWidth"></span></div>
    <div>Height: <span id="elHeight"></span></div>
  </div>

  <div id="toolbar">toolbar</div>
  <div id="thumbbar">thumbbar</div>

  <script src="./dist/viewer/viewer.bundle.js"></script>
</body>
</html>