<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viewer</title>

  <link rel="stylesheet" href="./dist/base/base.main.css">
  <link rel="stylesheet" href="./dist/viewer/viewer.main.css">

  <script src="./dist/base/base.bundle.js"></script>
</head>
<body>
  <div id="board" tabindex="0">
    <div id="wrapper">
      <div id="boardContent">
        <div>
          <!-- <img src="https://www.kirupa.com/images/kirupa_sig.png"> -->
          <!-- <img id="img" src="https://c.wallhere.com/photos/49/41/anime_anime_boys_anime_men_Black_Clover_Asta_Yuno_Noelle_Silva_Yami_Sukehiro-1966873.jpg!d" /> -->
          <!-- <img src="file:///C:/Users/d2pha/Desktop/black_clover.jpg" /> -->
          <!-- <img src="file:///C:/Users/d2pha/Desktop/12000.jpg" /> -->
          <img width="2600" height="1500" src="https://picsum.photos/2600/1500" />
          <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/016vallesmarineris_reduced0.5.jpg" /> -->
          <!-- <img src="https://vecta.io/blog/comparing-svg-and-png-file-sizes/penrose-triangle.d6e2a09434.svg" /> -->
          <!-- <img src="https://cdn.shopify.com/s/files/1/0496/1029/files/Freesample.svg" /> -->
        </div>

      </div>
    </div>
  </div>

  <div id="info" style="display: none;">
    <div>Zoom: <span id="elZoom"></span></div>
    <div>Scale ratio: <span id="elScaleRatio"></span></div>
    <div>X: <span id="elX"></span></div>
    <div>Y: <span id="elY"></span></div>
    <div>Width: <span id="elWidth"></span></div>
    <div>Height: <span id="elHeight"></span></div>
  </div>

  <div id="toolbar" style="display: none;">toolbar</div>
  <div id="thumbbar">
    <ul class="thumbnail-list">
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pic1/3000/2000" >
        </div>
        <div class="info">Windows___11.jpg</div>
      </li>
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pic2/3000/2000" >
        </div>
        <div class="info">Screenshot-2021-06-24-080912.jpg</div>
      </li>
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pi3/3000/2000" >
        </div>
        <div class="info">Windows-11-Accessibility-Screen-1000x562-1.jpg</div>
      </li>
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pic4/3000/2000" >
        </div>
        <div class="info">screenshot_windows_11_leak_b.jpg</div>
      </li>
      <li class="active">
        <div class="preview">
          <img height="150" src="https://picsum.photos/2600/1500" >
        </div>
        <div class="info">E379y82XwAQxcqs?format=jpg&name=4096x4096</div>
      </li>
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pic6/3000/2000" >
        </div>
        <div class="info">05_avatar.png</div>
      </li>
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pic7/3000/2000" >
        </div>
        <div class="info">windows-11-android-apps-amazon.png</div>
      </li>
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pic8/3000/2000" >
        </div>
        <div class="info">10.Windows%2011.png</div>
      </li>
      <li>
        <div class="preview">
          <img height="150" src="https://picsum.photos/seed/pic9/3000/2000" >
        </div>
        <div class="info">10.Windows%2011.png</div>
      </li>
    </ul>
  </div>

  <script src="./dist/viewer/viewer.bundle.js"></script>
</body>
</html>