<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main window</title>

  <link rel="stylesheet" href="./css/base.main.css">
  <link rel="stylesheet" href="./css/winMain.main.css">

  <script src="./js/base.bundle.js"></script>
</head>
<body>
  <!-- <hb-loader style="width: 50px;display: inline-flex;position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;"></hb-loader> -->

  <hb-board></hb-board>


  <div id="info" style="display: none;">
    <div>Zoom: <span id="elZoom"></span></div>
    <div>Scale ratio: <span id="elScaleRatio"></span></div>
    <div>X: <span id="elX"></span></div>
    <div>Y: <span id="elY"></span></div>
    <div>Width: <span id="elWidth"></span></div>
    <div>Height: <span id="elHeight"></span></div>
  </div>

  <hb-toolbar></hb-toolbar>

  <hb-gallery hide-label="false"></hb-gallery>

  <script src="./js/winMain.bundle.js"></script>
</body>
</html>